<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel App</title>
    <link href="../styles/all-styles.scss">
</head>

<body>
    <header>
        <h1>Travel App</h1>
    </header>

    <main>
        <section>
            <form id="travel-form">
                <label for="destination">Enter the city:</label>
                <input type="text" id="destination" name="destination" required>

                <label for="date">Enter your travel date:</label>
                <input type="date" id="date" name="date" required>

                <button type="submit">Submit</button>
            </form>

            <div id="weather-result">
                <p id="temperature"></p>
            </div>
            <div id="image-result">
                <img id="destination-image" />
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 Travel App</p>
    </footer>

    <script src="index.js"></script>
</body>

</html>