<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Travel App</title>
</head>

<body>
	<header>
		<h1 class="site-title">Where is your travel?</h1>
	</header>
	<main>
		<form id="travel-form">
			<label for="destination">Enter your destination:</label>
			<input type="text" id="destination" name="destination" required>
			<label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
			<button type="submit">submit</button>
		</form>

		<!-- <section id="results">
			<h2>Analysis Results:</h2>
			<p id="polarity"></p>
			<p id="subjectivity"></p>
			<p id="text"></p>
		</section> -->
	</main>
	<!-- <script src="../js/index.js"></script> -->
	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js').then(registration => {
					console.log('Service Worker registered with scope:', registration.scope);
				}).catch(error => {
					console.error('Service Worker registration failed:', error);
				});
			});
		}
	</script>

</body>

</html>